In [1]:
# Import our dependencies
import numpy as np
import pandas as pd
from scipy.stats import zscore

In [2]:
#  Import and read the charity_data.csv.
redux_batter_df = pd.read_csv("Resources/off_output_for_learning(copy).csv")
redux_batter_df

,IDfg,Name,Age,G,AB,PA,H,1B,2B,3B,...,Events,CStr%,CSW%,xBA,xSLG,xwOBA,L-WAR,avg_wOBA,wOBA_2023,zscore_difference
0,1744,Miguel Cabrera,37.666667,126.000000,454.000000,502.666667,120.333333,94.000000,15.666667,0.000000,...,351.333333,0.152667,0.268000,0.246000,0.395667,0.307000,-0.766667,0.299333,0.293,0.055586
1,2136,David Peralta,32.666667,127.666667,436.000000,483.666667,113.666667,68.666667,29.666667,4.666667,...,341.333333,0.157000,0.266333,0.246000,0.374333,0.303333,1.266667,0.322333,0.311,-0.189938
2,2396,Carlos Santana,34.666667,149.000000,523.000000,617.000000,123.000000,77.666667,21.000000,0.333333,...,426.666667,0.166333,0.249000,0.254333,0.446333,0.351333,1.766667,0.327333,0.307,-0.449445
3,2434,Nelson Cruz,39.666667,128.000000,471.666667,537.333333,127.333333,78.333333,21.000000,0.333333,...,354.000000,0.127333,0.271667,0.265000,0.516000,0.366000,1.800000,0.351667,0.291,-1.622077
4,2967,Tommy Pham,32.666667,148.000000,532.000000,612.333333,131.666667,85.666667,26.666667,1.666667,...,396.000000,0.204333,0.289000,0.253667,0.425333,0.338333,1.733333,0.323667,0.343,0.602240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,27465,Spencer Torkelson,22.000000,110.000000,360.000000,404.000000,73.000000,48.000000,16.000000,1.000000,...,263.000000,0.170000,0.275000,0.226000,0.378000,0.305000,-0.900000,0.272000,0.312,1.399553
300,27506,Ha-seong Kim,25.500000,133.500000,392.000000,440.000000,92.000000,59.500000,20.500000,2.500000,...,312.500000,0.210500,0.289500,0.229500,0.338500,0.287000,2.300000,0.291500,0.360,2.044238
301,27676,Vinnie Pasquantino,24.000000,72.000000,258.000000,298.000000,76.000000,56.000000,10.000000,0.000000,...,226.000000,0.162000,0.228000,0.289000,0.475000,0.374000,1.500000,0.365000,0.327,-1.098441
302,27684,Michael Massey,24.000000,52.000000,173.000000,194.000000,42.000000,28.000000,9.000000,1.000000,...,131.000000,0.131000,0.274000,0.243000,0.450000,0.332000,0.800000,0.302000,0.281,-0.339843
303,30116,Seiya Suzuki,27.000000,111.000000,397.000000,446.000000,104.000000,66.000000,22.000000,2.000000,...,290.000000,0.232000,0.312000,0.247000,0.418000,0.326000,2.000000,0.334000,0.321,-0.291827

In [3]:
batter_woba_df = redux_batter_df.copy()

In [4]:
new_batter_df = redux_batter_df.drop(['wOBA_2023', 'zscore_difference'], axis=1)
new_batter_df.head()

,IDfg,Name,Age,G,AB,PA,H,1B,2B,3B,...,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA,L-WAR,avg_wOBA
0,1744,Miguel Cabrera,37.666667,126.000000,454.000000,502.666667,120.333333,94.000000,15.666667,0.000000,...,155.333333,0.438667,351.333333,0.152667,0.268000,0.246000,0.395667,0.307000,-0.766667,0.299333
1,2136,David Peralta,32.666667,127.666667,436.000000,483.666667,113.666667,68.666667,29.666667,4.666667,...,144.000000,0.422000,341.333333,0.157000,0.266333,0.246000,0.374333,0.303333,1.266667,0.322333
2,2396,Carlos Santana,34.666667,149.000000,523.000000,617.000000,123.000000,77.666667,21.000000,0.333333,...,186.666667,0.438667,426.666667,0.166333,0.249000,0.254333,0.446333,0.351333,1.766667,0.327333
3,2434,Nelson Cruz,39.666667,128.000000,471.666667,537.333333,127.333333,78.333333,21.000000,0.333333,...,176.333333,0.497000,354.000000,0.127333,0.271667,0.265000,0.516000,0.366000,1.800000,0.351667
4,2967,Tommy Pham,32.666667,148.000000,532.000000,612.333333,131.666667,85.666667,26.666667,1.666667,...,184.333333,0.466000,396.000000,0.204333,0.289000,0.253667,0.425333,0.338333,1.733333,0.323667

In [5]:
#  Import and read the charity_data.csv.
batter_df_2023 = pd.read_csv("Resources/fg_leaderboard_23.csv")
batter_df_2023 = batter_df_2023.rename(columns={'playerId': 'IDfg'})
batter_df_2023.head()

,Season,Name,Tm,PA,BB%,K%,BB/K,AVG,OBP,SLG,OPS,ISO,BABIP,wRC,wRAA,wOBA,wRC+,IDfg
0,2023,Miguel Cabrera,DET,275,0.090909,0.196364,0.462963,0.246964,0.316364,0.331984,0.648347,0.085020,0.305699,26.868519,-6.538757,0.289647,83.139097,1744
1,2023,David Peralta,LAD,327,0.045872,0.165138,0.277778,0.271242,0.302752,0.398693,0.701445,0.127451,0.304000,34.999270,-4.725018,0.300901,88.921411,2136
2,2023,Carlos Santana,2 Tms,489,0.102249,0.173824,0.588235,0.227064,0.304703,0.410550,0.715254,0.183486,0.241071,56.237662,-3.166548,0.310521,93.193177,2396
3,2023,Tommy Pham,2 Tms,337,0.097923,0.225519,0.434211,0.264214,0.335312,0.474916,0.810228,0.210702,0.308411,48.434139,7.495041,0.345149,121.157846,2967
4,2023,Anthony Rizzo,NYY,421,0.083135,0.230404,0.360825,0.243968,0.327791,0.378016,0.705807,0.134048,0.298113,49.124487,-2.019014,0.312548,98.585941,3473

In [6]:
for_2023_merge = batter_df_2023[['wOBA', 'SLG', 'BABIP', 'wRC+', 'IDfg']]

rename_columns = {
    'wOBA': 'wOBA_2023',
    'SLG': 'SLG_2023',
    'wRC+': 'wRC+_2023',
    'BABIP': 'BABIP_2023'
}

for_2023_merge.rename(columns=rename_columns, inplace=True)

for_2023_merge.head()

/var/folders/pn/c8dt84bx2r9fbfxb1qyp16k80000gn/T/ipykernel_913/1892587810.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  for_2023_merge.rename(columns=rename_columns, inplace=True)

   wOBA_2023  SLG_2023  BABIP_2023   wRC+_2023  IDfg
0   0.289647  0.331984    0.305699   83.139097  1744
1   0.300901  0.398693    0.304000   88.921411  2136
2   0.310521  0.410550    0.241071   93.193177  2396
3   0.345149  0.474916    0.308411  121.157846  2967
4   0.312548  0.378016    0.298113   98.585941  3473

In [7]:
players_batting_output = pd.merge(
    new_batter_df,
    for_2023_merge,
    on=['IDfg']
)

In [8]:
# def process_batting_data(input_df, target_column1, target_column2):
#     zscore_columns = [target_column1, target_column2]
    
#     for col in zscore_columns:
#         z_scores = zscore(input_df[col])
#         input_df[f'z_scores_{col}'] = z_scores

#     zscore_difference_column = f'zscore_difference_{target_column2}'
#     input_df[zscore_difference_column] = input_df[f'z_scores_{target_column2}'] - input_df[f'z_scores_{target_column1}']
    
#     return input_df

In [9]:
# # Specify your target columns
# target_column1 = 'avg_wOBA'
# target_column2 = 'wOBA_2023'

# # Process the data using the function
# woba_data = process_batting_data(players_batting_output, target_column1, target_column2)

# # Save the processed data to a CSV file
# #processed_data.to_csv('Resources/full_woba_learning.csv', encoding="utf-8", index=False)
# woba_data.head()

In [10]:
avg_woba = players_batting_output['avg_wOBA']
avg_slg = players_batting_output['SLG']
avg_babip = players_batting_output['BABIP']
avg_wrc = players_batting_output['wRC+']

woba_2023 = players_batting_output['wOBA_2023']
slg_2023 = players_batting_output['SLG_2023']
babip_2023 = players_batting_output['BABIP_2023']
wrc_2023 = players_batting_output['wRC+_2023']

z_scores_avg_woba = zscore(avg_woba)
z_score_woba_2023 = zscore(woba_2023)

z_scores_avg_slg = zscore(avg_slg)
z_score_slg_2023 = zscore(slg_2023)

z_scores_avg_babip = zscore(avg_babip)
z_score_babip_2023 = zscore(babip_2023)

z_scores_avg_wrc = zscore(avg_wrc)
z_score_wrc_2023 = zscore(wrc_2023)

# Add new columns with Z-scores to the DataFrame
players_batting_output['z_scores_avg_woba'] = z_scores_avg_woba
players_batting_output['z_scores_avg_slg'] = z_scores_avg_slg
players_batting_output['z_scores_avg_babip'] = z_scores_avg_babip
players_batting_output['z_scores_avg_wrc+'] = z_scores_avg_wrc

players_batting_output['zscore_difference_woba'] = z_score_woba_2023 - z_scores_avg_woba
players_batting_output['zscore_difference_slg'] = z_score_slg_2023  - z_scores_avg_slg
players_batting_output['zscore_difference_babip'] = z_score_babip_2023 - z_scores_avg_babip
players_batting_output['zscore_difference_wrc+'] = z_score_wrc_2023 - z_scores_avg_wrc

In [11]:
players_batting_output.to_csv('Resources/dash_full_batter_data.csv', encoding="utf-8", index=False)

In [12]:
columns_to_drop = ['IDfg', 'Name', 'wOBA_2023', 'SLG_2023', 'BABIP_2023', 'wRC+_2023',
                   'zscore_difference_slg', 'zscore_difference_babip', 
                   'zscore_difference_wrc+']

for_learning_woba = players_batting_output.drop(columns=columns_to_drop)
for_learning_woba.head()

,Age,G,AB,PA,H,1B,2B,3B,HR,R,...,xBA,xSLG,xwOBA,L-WAR,avg_wOBA,z_scores_avg_woba,z_scores_avg_slg,z_scores_avg_babip,z_scores_avg_wrc+,zscore_difference_woba
0,37.666667,126.000000,454.0,502.666667,120.333333,94.000000,15.666667,0.000000,10.666667,38.000000,...,0.246000,0.395667,0.307000,-0.766667,0.299333,-0.841291,-1.079977,0.763227,-0.824324,-0.163228
1,32.666667,127.666667,436.0,483.666667,113.666667,68.666667,29.666667,4.666667,10.666667,48.000000,...,0.246000,0.374333,0.303333,1.266667,0.322333,-0.106384,-0.090203,0.477456,-0.278952,-0.575723
2,34.666667,149.000000,523.0,617.000000,123.000000,77.666667,21.000000,0.333333,24.000000,76.000000,...,0.254333,0.446333,0.351333,1.766667,0.327333,0.053379,-0.341840,-1.645420,0.009775,-0.459862
3,32.666667,148.000000,532.0,612.333333,131.666667,85.666667,26.666667,1.666667,17.666667,80.000000,...,0.253667,0.425333,0.338333,1.733333,0.323667,-0.063780,-0.487231,0.099829,-0.118548,0.649372
4,30.666667,139.000000,491.0,579.000000,125.666667,72.000000,24.333333,2.333333,27.000000,79.666667,...,0.265667,0.458333,0.361333,2.733333,0.360333,1.107812,0.815692,-1.124907,1.020317,-1.456233

In [13]:
for_learning_woba.to_csv('Resources/full_woba_learning.csv', encoding="utf-8", index=False)

In [14]:
columns_to_drop = ['IDfg', 'Name', 'wOBA_2023', 'SLG_2023', 'BABIP_2023', 'wRC+_2023',
                   'zscore_difference_woba', 'zscore_difference_babip', 
                   'zscore_difference_wrc+']

for_learning_slg = players_batting_output.drop(columns=columns_to_drop)
for_learning_slg.head()

,Age,G,AB,PA,H,1B,2B,3B,HR,R,...,xBA,xSLG,xwOBA,L-WAR,avg_wOBA,z_scores_avg_woba,z_scores_avg_slg,z_scores_avg_babip,z_scores_avg_wrc+,zscore_difference_slg
0,37.666667,126.000000,454.0,502.666667,120.333333,94.000000,15.666667,0.000000,10.666667,38.000000,...,0.246000,0.395667,0.307000,-0.766667,0.299333,-0.841291,-1.079977,0.763227,-0.824324,-0.335034
1,32.666667,127.666667,436.0,483.666667,113.666667,68.666667,29.666667,4.666667,10.666667,48.000000,...,0.246000,0.374333,0.303333,1.266667,0.322333,-0.106384,-0.090203,0.477456,-0.278952,-0.321047
2,34.666667,149.000000,523.0,617.000000,123.000000,77.666667,21.000000,0.333333,24.000000,76.000000,...,0.254333,0.446333,0.351333,1.766667,0.327333,0.053379,-0.341840,-1.645420,0.009775,0.109010
3,32.666667,148.000000,532.0,612.333333,131.666667,85.666667,26.666667,1.666667,17.666667,80.000000,...,0.253667,0.425333,0.338333,1.733333,0.323667,-0.063780,-0.487231,0.099829,-0.118548,1.222906
4,30.666667,139.000000,491.0,579.000000,125.666667,72.000000,24.333333,2.333333,27.000000,79.666667,...,0.265667,0.458333,0.361333,2.733333,0.360333,1.107812,0.815692,-1.124907,1.020317,-1.538062

In [15]:
for_learning_slg.to_csv('Resources/full_slg_learning.csv', encoding="utf-8", index=False)

In [16]:
columns_to_drop = ['IDfg', 'Name', 'wOBA_2023', 'SLG_2023', 'BABIP_2023', 'wRC+_2023',
                   'zscore_difference_woba', 'zscore_difference_slg', 
                   'zscore_difference_wrc+']

for_learning_babip = players_batting_output.drop(columns=columns_to_drop)
for_learning_babip.head()

,Age,G,AB,PA,H,1B,2B,3B,HR,R,...,xBA,xSLG,xwOBA,L-WAR,avg_wOBA,z_scores_avg_woba,z_scores_avg_slg,z_scores_avg_babip,z_scores_avg_wrc+,zscore_difference_babip
0,37.666667,126.000000,454.0,502.666667,120.333333,94.000000,15.666667,0.000000,10.666667,38.000000,...,0.246000,0.395667,0.307000,-0.766667,0.299333,-0.841291,-1.079977,0.763227,-0.824324,-0.579226
1,32.666667,127.666667,436.0,483.666667,113.666667,68.666667,29.666667,4.666667,10.666667,48.000000,...,0.246000,0.374333,0.303333,1.266667,0.322333,-0.106384,-0.090203,0.477456,-0.278952,-0.340257
2,34.666667,149.000000,523.0,617.000000,123.000000,77.666667,21.000000,0.333333,24.000000,76.000000,...,0.254333,0.446333,0.351333,1.766667,0.327333,0.053379,-0.341840,-1.645420,0.009775,0.049624
3,32.666667,148.000000,532.0,612.333333,131.666667,85.666667,26.666667,1.666667,17.666667,80.000000,...,0.253667,0.425333,0.338333,1.733333,0.323667,-0.063780,-0.487231,0.099829,-0.118548,0.158851
4,30.666667,139.000000,491.0,579.000000,125.666667,72.000000,24.333333,2.333333,27.000000,79.666667,...,0.265667,0.458333,0.361333,2.733333,0.360333,1.107812,0.815692,-1.124907,1.020317,1.099990

In [17]:
for_learning_babip.to_csv('Resources/full_babip_learning.csv', encoding="utf-8", index=False)

In [18]:
columns_to_drop = ['IDfg', 'Name', 'wOBA_2023', 'SLG_2023', 'BABIP_2023', 'wRC+_2023',
                   'zscore_difference_woba', 'zscore_difference_slg', 
                   'zscore_difference_babip']

for_learning_wrc = players_batting_output.drop(columns=columns_to_drop)
for_learning_wrc.head()

,Age,G,AB,PA,H,1B,2B,3B,HR,R,...,xBA,xSLG,xwOBA,L-WAR,avg_wOBA,z_scores_avg_woba,z_scores_avg_slg,z_scores_avg_babip,z_scores_avg_wrc+,zscore_difference_wrc+
0,37.666667,126.000000,454.0,502.666667,120.333333,94.000000,15.666667,0.000000,10.666667,38.000000,...,0.246000,0.395667,0.307000,-0.766667,0.299333,-0.841291,-1.079977,0.763227,-0.824324,-0.081495
1,32.666667,127.666667,436.0,483.666667,113.666667,68.666667,29.666667,4.666667,10.666667,48.000000,...,0.246000,0.374333,0.303333,1.266667,0.322333,-0.106384,-0.090203,0.477456,-0.278952,-0.385844
2,34.666667,149.000000,523.0,617.000000,123.000000,77.666667,21.000000,0.333333,24.000000,76.000000,...,0.254333,0.446333,0.351333,1.766667,0.327333,0.053379,-0.341840,-1.645420,0.009775,-0.496512
3,32.666667,148.000000,532.0,612.333333,131.666667,85.666667,26.666667,1.666667,17.666667,80.000000,...,0.253667,0.425333,0.338333,1.733333,0.323667,-0.063780,-0.487231,0.099829,-0.118548,0.797455
4,30.666667,139.000000,491.0,579.000000,125.666667,72.000000,24.333333,2.333333,27.000000,79.666667,...,0.265667,0.458333,0.361333,2.733333,0.360333,1.107812,0.815692,-1.124907,1.020317,-1.282269

In [19]:
for_learning_wrc.to_csv('Resources/full_wrc_learning.csv', encoding="utf-8", index=False)

In [20]:
def process_batting_data(input_df, target_column1, target_column2):
    zscore_columns = [target_column1, target_column2]
    
    for col in zscore_columns:
        z_scores = zscore(input_df[col])
        input_df[f'z_scores_{col}'] = z_scores

    zscore_difference_column = f'zscore_difference_{target_column2}'
    input_df[zscore_difference_column] = input_df[f'z_scores_{target_column2}'] - input_df[f'z_scores_{target_column1}']
    
    return input_df

In [21]:
# Specify your target columns
target_column1 = 'avg_wOBA'
target_column2 = 'wOBA_2023'

# Process the data using the function
woba_data = process_batting_data(players_batting_output, target_column1, target_column2)

# Save the processed data to a CSV file
#processed_data.to_csv('Resources/full_woba_learning.csv', encoding="utf-8", index=False)
woba_data.head()

,IDfg,Name,Age,G,AB,PA,H,1B,2B,3B,...,z_scores_avg_slg,z_scores_avg_babip,z_scores_avg_wrc+,zscore_difference_woba,zscore_difference_slg,zscore_difference_babip,zscore_difference_wrc+,z_scores_avg_wOBA,z_scores_wOBA_2023,zscore_difference_wOBA_2023
0,1744,Miguel Cabrera,37.666667,126.000000,454.0,502.666667,120.333333,94.000000,15.666667,0.000000,...,-1.079977,0.763227,-0.824324,-0.163228,-0.335034,-0.579226,-0.081495,-0.841291,-1.004519,-0.163228
1,2136,David Peralta,32.666667,127.666667,436.0,483.666667,113.666667,68.666667,29.666667,4.666667,...,-0.090203,0.477456,-0.278952,-0.575723,-0.321047,-0.340257,-0.385844,-0.106384,-0.682106,-0.575723
2,2396,Carlos Santana,34.666667,149.000000,523.0,617.000000,123.000000,77.666667,21.000000,0.333333,...,-0.341840,-1.645420,0.009775,-0.459862,0.109010,0.049624,-0.496512,0.053379,-0.406483,-0.459862
3,2967,Tommy Pham,32.666667,148.000000,532.0,612.333333,131.666667,85.666667,26.666667,1.666667,...,-0.487231,0.099829,-0.118548,0.649372,1.222906,0.158851,0.797455,-0.063780,0.585592,0.649372
4,3473,Anthony Rizzo,30.666667,139.000000,491.0,579.000000,125.666667,72.000000,24.333333,2.333333,...,0.815692,-1.124907,1.020317,-1.456233,-1.538062,1.099990,-1.282269,1.107812,-0.348421,-1.456233

CREATE TEMPORARY TABLE temp_table (
    column1 float,
column2 float,
column3 float,
column4 float,
column5 float,
column6 float,
column7 float,
column8 float,
column9 float,
column10 float,
column11 float,
column12 float,
column13 float,
column14 float,
column15 float,
column16 float,
column17 float,
column18 float,
column19 float,
column20 float,
column21 float,
column22 float,
column23 float,
column24 float,
column25 float,
column26 float,
column27 float,
column28 float,
column29 float,
column30 float,
column31 float,
column32 float,
column33 float,
column34 float,
column35 float,
column36 float,
column37 float,
column38 float,
column39 float,
column40 float,
column41 float,
column42 float,
column43 float,
column44 float,
column45 float,
column46 float,
column47 float,
column48 float,
column49 float,
column50 float,
column51 float,
column52 float,
column53 float,
column54 float,
column55 float,
column56 float,
column57 float,
column58 float,
column59 float,
column60 float,
column61 float,
column62 float,
column63 float,
column64 float,
column65 float,
column66 float,
column67 float,
column68 float,
column69 float,
column70 float,
column71 float,
column72 float,
column73 float,
column74 float,
column75 float,
column76 float,
column77 float,
column78 float,
column79 float,
column80 float,
column81 float,
column82 float,
column83 float,
column84 float,
column85 float,
column86 float,
column87 float,
column88 float,
column89 float,
column90 float,
column91 float,
column92 float,
column93 float,
column94 float,
column95 float,
column96 float,
column97 float,
column98 float,
column99 float,
column100 float,
column101 float,
column102 float,
column103 float,
column104 float,
column105 float,
column106 float,
column107 float,
column108 float,
column109 float,
column110 float,
column111 float,
column112 float,
column113 float,
column114 float,
column115 float,
column116 float,
column117 float,
column118 float,
column119 float,
column120 float,
column121 float,
column122 float,
column123 float,
column124 float,
column125 float,
column126 float,
column127 float,
column128 float,
column129 float,
column130 float,
column131 float,
column132 float,
column133 float,
column134 float,
column135 float,
column136 float,
column137 float,
column138 float,
column139 float,
column140 float,
column141 float,
column142 float,
column143 float,
column144 float,
column145 float,
column146 float,
column147 float,
column148 float,
column149 float,
column150 float,
column151 float,
column152 float,
column153 float,
column154 float,
column155 float,
column156 float,
column157 float,
column158 float,
column159 float,
column160 float,
column161 float,
column162 float,
column163 float,
column164 float,
column165 float,
column166 float,
column167 float,
column168 float,
column169 float,
column170 float,
column171 float,
column172 float,
column173 float,
column174 float,
column175 float,
column176 float,
column177 float,
column178 float,
column179 float,
column180 float,
column181 float,
column182 float,
column183 float,
column184 float,
column185 float,
column186 float,
column187 float,
column188 float,
column189 float,
column190 float,
column191 float,
column192 float,
column193 float,
column194 float,
column195 float,
column196 float,
column197 float,
column198 float,
column199 float,
column200 float,
column201 float,
column202 float,
column203 float,
column204 float,
column205 float,
column206 float,
column207 float,
column208 float,
column209 float,
column210 float,
column211 float,
column212 float,
column213 float,
column214 float,
column215 float,
column216 float,
column217 float,
column218 float,
column219 float,
column220 float,
column221 float,
column222 float,
column223 float,
column224 float,
column225 float,
column226 float,
column227 float,
column228 float,
column229 float,
column230 float,
column231 float,
column232 float,
column233 float,
column234 float,
column235 float,
column236 float,
column237 float,
column238 float,
column239 float,
column240 float,
column241 float,
column242 float,
column243 float,
column244 float,
column245 float,
column246 float,
column247 float,
column248 float,
column249 float,
column250 float,
column251 float,
column252 float,
column253 float,
column254 float,
column255 float,
column256 float,
column257 float,
column258 float,
column259 float,
column260 float,
column261 float,
column262 float,
column263 float,
column264 float,
column265 float,
column266 float,
column267 float,
column268 float,
column269 float,
column270 float,
column271 float,
column272 float,
column273 float,
column274 float,
column275 float,
column276 float,
column277 float,
column278 float,
column279 float,
column280 float,
column281 float,
column282 float,
column283 float,
column284 float,
column285 float,
column286 float,
column287 float,
column288 float,
column289 float,
column290 float,
column291 float,
column292 float,
column293 float,
column294 float,
column295 float,
column296 float,
column297 float,
column298 float,
column299 float,
column300 float
);