In [1]:
# Import our dependencies
import numpy as np
import pandas as pd
from scipy.stats import zscore

In [2]:
players_batting_output = pd.read_csv('Resources/dash_full_batter_data(1).csv')

In [3]:
columns_to_drop = ['IDfg', 'Name', 'wOBA_2023', 'SLG_2023', 'BABIP_2023', 'wRC+_2023',
                   'zscore_difference_slg', 'zscore_difference_babip', 
                   'zscore_difference_wrc+']

for_learning_woba = players_batting_output.drop(columns=columns_to_drop)
for_learning_woba = pd.get_dummies(for_learning_woba, columns=['bat_side'])
for_learning_woba.head()

,Age,G,AB,PA,H,1B,2B,3B,HR,R,...,L-WAR,avg_wOBA,z_scores_avg_woba,z_scores_avg_slg,z_scores_avg_babip,z_scores_avg_wrc+,zscore_difference_woba,bat_side_L,bat_side_R,bat_side_S
0,37.666667,126.000000,454.0,502.666667,120.333333,94.000000,15.666667,0.000000,10.666667,38.000000,...,-0.766667,0.299333,-0.841291,-1.079977,0.763227,-0.824324,-0.163228,0,1,0
1,32.666667,127.666667,436.0,483.666667,113.666667,68.666667,29.666667,4.666667,10.666667,48.000000,...,1.266667,0.322333,-0.106384,-0.090203,0.477456,-0.278952,-0.575723,1,0,0
2,34.666667,149.000000,523.0,617.000000,123.000000,77.666667,21.000000,0.333333,24.000000,76.000000,...,1.766667,0.327333,0.053379,-0.341840,-1.645420,0.009775,-0.459862,0,0,1
3,32.666667,148.000000,532.0,612.333333,131.666667,85.666667,26.666667,1.666667,17.666667,80.000000,...,1.733333,0.323667,-0.063780,-0.487231,0.099829,-0.118548,0.649372,0,1,0
4,30.666667,139.000000,491.0,579.000000,125.666667,72.000000,24.333333,2.333333,27.000000,79.666667,...,2.733333,0.360333,1.107812,0.815692,-1.124907,1.020317,-1.456233,1,0,0

In [4]:
for_learning_woba.to_csv('Resources/full_woba_learning-handy.csv', encoding="utf-8", index=False)

In [5]:
columns_to_drop = ['IDfg', 'Name', 'wOBA_2023', 'SLG_2023', 'BABIP_2023', 'wRC+_2023',
                   'zscore_difference_woba', 'zscore_difference_babip', 
                   'zscore_difference_wrc+']

for_learning_slg = players_batting_output.drop(columns=columns_to_drop)
for_learning_slg = pd.get_dummies(for_learning_slg, columns=['bat_side'])
for_learning_slg.head()

,Age,G,AB,PA,H,1B,2B,3B,HR,R,...,L-WAR,avg_wOBA,z_scores_avg_woba,z_scores_avg_slg,z_scores_avg_babip,z_scores_avg_wrc+,zscore_difference_slg,bat_side_L,bat_side_R,bat_side_S
0,37.666667,126.000000,454.0,502.666667,120.333333,94.000000,15.666667,0.000000,10.666667,38.000000,...,-0.766667,0.299333,-0.841291,-1.079977,0.763227,-0.824324,-0.335034,0,1,0
1,32.666667,127.666667,436.0,483.666667,113.666667,68.666667,29.666667,4.666667,10.666667,48.000000,...,1.266667,0.322333,-0.106384,-0.090203,0.477456,-0.278952,-0.321047,1,0,0
2,34.666667,149.000000,523.0,617.000000,123.000000,77.666667,21.000000,0.333333,24.000000,76.000000,...,1.766667,0.327333,0.053379,-0.341840,-1.645420,0.009775,0.109010,0,0,1
3,32.666667,148.000000,532.0,612.333333,131.666667,85.666667,26.666667,1.666667,17.666667,80.000000,...,1.733333,0.323667,-0.063780,-0.487231,0.099829,-0.118548,1.222906,0,1,0
4,30.666667,139.000000,491.0,579.000000,125.666667,72.000000,24.333333,2.333333,27.000000,79.666667,...,2.733333,0.360333,1.107812,0.815692,-1.124907,1.020317,-1.538062,1,0,0

In [6]:
for_learning_slg.to_csv('Resources/full_slg_learning-handy.csv', encoding="utf-8", index=False)

In [7]:
columns_to_drop = ['IDfg', 'Name', 'wOBA_2023', 'SLG_2023', 'BABIP_2023', 'wRC+_2023',
                   'zscore_difference_woba', 'zscore_difference_slg', 
                   'zscore_difference_wrc+']

for_learning_babip = players_batting_output.drop(columns=columns_to_drop)
for_learning_babip = pd.get_dummies(for_learning_babip, columns=['bat_side'])
for_learning_babip.head()

,Age,G,AB,PA,H,1B,2B,3B,HR,R,...,L-WAR,avg_wOBA,z_scores_avg_woba,z_scores_avg_slg,z_scores_avg_babip,z_scores_avg_wrc+,zscore_difference_babip,bat_side_L,bat_side_R,bat_side_S
0,37.666667,126.000000,454.0,502.666667,120.333333,94.000000,15.666667,0.000000,10.666667,38.000000,...,-0.766667,0.299333,-0.841291,-1.079977,0.763227,-0.824324,-0.579226,0,1,0
1,32.666667,127.666667,436.0,483.666667,113.666667,68.666667,29.666667,4.666667,10.666667,48.000000,...,1.266667,0.322333,-0.106384,-0.090203,0.477456,-0.278952,-0.340257,1,0,0
2,34.666667,149.000000,523.0,617.000000,123.000000,77.666667,21.000000,0.333333,24.000000,76.000000,...,1.766667,0.327333,0.053379,-0.341840,-1.645420,0.009775,0.049624,0,0,1
3,32.666667,148.000000,532.0,612.333333,131.666667,85.666667,26.666667,1.666667,17.666667,80.000000,...,1.733333,0.323667,-0.063780,-0.487231,0.099829,-0.118548,0.158851,0,1,0
4,30.666667,139.000000,491.0,579.000000,125.666667,72.000000,24.333333,2.333333,27.000000,79.666667,...,2.733333,0.360333,1.107812,0.815692,-1.124907,1.020317,1.099990,1,0,0

In [8]:
for_learning_babip.to_csv('Resources/full_babip_learning-handy.csv', encoding="utf-8", index=False)

In [9]:
columns_to_drop = ['IDfg', 'Name', 'wOBA_2023', 'SLG_2023', 'BABIP_2023', 'wRC+_2023',
                   'zscore_difference_woba', 'zscore_difference_slg', 
                   'zscore_difference_babip']

for_learning_wrc = players_batting_output.drop(columns=columns_to_drop)
for_learning_wrc = pd.get_dummies(for_learning_wrc, columns=['bat_side'])
for_learning_wrc.head()

,Age,G,AB,PA,H,1B,2B,3B,HR,R,...,L-WAR,avg_wOBA,z_scores_avg_woba,z_scores_avg_slg,z_scores_avg_babip,z_scores_avg_wrc+,zscore_difference_wrc+,bat_side_L,bat_side_R,bat_side_S
0,37.666667,126.000000,454.0,502.666667,120.333333,94.000000,15.666667,0.000000,10.666667,38.000000,...,-0.766667,0.299333,-0.841291,-1.079977,0.763227,-0.824324,-0.081495,0,1,0
1,32.666667,127.666667,436.0,483.666667,113.666667,68.666667,29.666667,4.666667,10.666667,48.000000,...,1.266667,0.322333,-0.106384,-0.090203,0.477456,-0.278952,-0.385844,1,0,0
2,34.666667,149.000000,523.0,617.000000,123.000000,77.666667,21.000000,0.333333,24.000000,76.000000,...,1.766667,0.327333,0.053379,-0.341840,-1.645420,0.009775,-0.496512,0,0,1
3,32.666667,148.000000,532.0,612.333333,131.666667,85.666667,26.666667,1.666667,17.666667,80.000000,...,1.733333,0.323667,-0.063780,-0.487231,0.099829,-0.118548,0.797455,0,1,0
4,30.666667,139.000000,491.0,579.000000,125.666667,72.000000,24.333333,2.333333,27.000000,79.666667,...,2.733333,0.360333,1.107812,0.815692,-1.124907,1.020317,-1.282269,1,0,0

In [10]:
for_learning_wrc.to_csv('Resources/full_wrc_learning-handy.csv', encoding="utf-8", index=False)